#realm
  %h2 My affairz . My projects
  %hr/
  %em Portfolio creation in progress...
  %ul#affairz
    %li
      %h4
        QStudio .
        %small Architecture
      .image
        %img{:src => "/assets/images/qstudio.jpg"}/
      %p Quick Studio is a Paris based company that provides software solutions for rehearsal and recording studios. They needed an efficient real-time application to complete their existing software.
      .stack
        %strong Toolbox
        %p Rails 3.1, MongoDB, NodeJS, HTML5
    %li
      %h4
        WalutoBox .
        %small Architecture : Programming
      .image
        %img{:src => "/assets/images/walutobox.jpg"}/
      %p WalutoBox is startup company that provides a peer-to-peer foreign currency exchange platform. I have architected and led a development of a frontend and backend systems.
      .stack
        %strong Toolbox
        %p Rails 3.1, PostgreSQL, MongoDB, Redis, RSpec, CoffeeScript
      %p
        %a{:href => "http://www.walutobox.pl"} walutobox.pl
    %li
      %h4
        Unilever Foodsolutions E-Commerce
        %small Architecture : Programming
      .image
        %img{:src => "/assets/images/unilever_ecommerce.jpg"}/
      %p I architected and led development of an internal e-commerce platform for Unilver Foodsolutions PL.
      .stack
        %strong Toolbox
        %p Rails 3.0, PostgreSQL, RSpec
    %li
      %h4
        Unilever Foodsolutions E-Trasowka
        %small Architecture : Programming
      .image
        %img{:src => "/assets/images/unilever_etrasowka.jpg"}/
      %p E-Trasowka is an internal platform in Unilever Foodsolutions PL division which is used for sales force management.
      .stack
        %strong Toolbox
        %p Rails 3.0, MongoDB, Redis, RSpec
    %li
      %h4
        Between App .
        %small Architecture : Programming
      .image
        %img{:src => "/assets/images/betweenapp_logo.jpg"}/
      %p Betweenapp is a social Intranet platform. I have architected that application and coded it entirely in a pair-programming form with a friend.
      .stack
        %strong Toolbox
        %p Rails 3.0, MongoDB, Cucumber, RSpec, jQuery
      %p
        %a{:href => "http://betweenapp.com"} betweenapp.com
    %li
      %h4
        La Banque Postale .
        %small Consulting
      .image
        %img{:src => "/assets/images/labanquepostale.jpg"}/
      %p A strategy consulting mission for La Banque Postale which consisted of e-banking solutions analysis for multi-channel integration.
      .stack
        %strong Toolbox
        %p Google Docs, PowerPoint (blue colour rocks!), Gartner, Forrester Research
      %p
        %a{:href => "http://labanquepostale.fr"} labanquepostale.fr
    %li
      %h4
        BZWBK EBPP
        %small Business Analysis : Project Management
      .image
        %img{:src => "/assets/images/bzwbk_ebpp.jpg"}/
      %p Introduction of EBPP (Electronic Bill Presentment and Payment) solution into Bank Zachodni WBK E-Banking platform. Responsible for technical aspects of the project: requirements analysis, integration process within banking systems as Service-Oriented Architecture.
    %li
      %h4
        BZWBK JIRA & Confluence
        %small Administration : Integration : Programming
      .image
        %img{:src => "/assets/images/bzwbk_qa.jpg"}/
      %p I helped introducing Atlassian JIRA & Confluence into E-Banking business and development departments. During that time I was involved in administration of these application, participated in development of workflows required for these two departements and created several proof-of-concept applications connected to JIRA & Confluence instances through their API.
    %li
      %h4
        BZWBK MIFID
        %small Business Analysis : Project Management
      .image
        %img{:src => "/assets/images/bzwbk_mifid.jpg"}/
      %p MIFID is an EU directive that had an important impact on banking systems within European Union. I was responsible for adjusting several systems in Bank Zachodni WBK to meet requirements of that directive.
    %li
      %h4
        BZWBK Centrum24
        %small Architecture : Programming
      .image
        %img{:src => "/assets/images/bzwbk_centrum24.jpg"}/
      %p Centrum24 is a e-banking platform from Bank Zachodni WBK. I participated in process of architecting middleware layer (service and facade layers for Tuxedo) and later was highly involved in web frontend development of « New » Centrum24 using component-based approch provided by Apache Wicket.
      .stack
        %strong Toolbox
        %p Java EE, Apache Wicket, EJB, Tuxedo, JSP
      %p
        %a{:href => "http://centrum24.pl"} centrum24.pl
