#realm
  h1 Zaiste, a software technologist.
  br/
  markdown:
    I help companies & brands build great software products.

    I'm a technology consultant, currently in POZnan, and a cofounder of
    [Nukomeet][1]: read our [Company Manifesto][2]. At the moment I'm
    bootstrapping: [Coworfing][3] *» Find best place to work* and [Slicecook][4]
    *» Marketplace for Photoshop to HTML and CSS transformation*.

    I also founded [RuPy Conf][5] which brings together two great,
    state-of-the-art programming languages and its related technologies.

    I'm experienced in banking industry. I've been involved in various projects
    related to E-Banking.

    I studied Computer Science (Artificial Intelligence) at
    [Adam Mickiewicz Univeristy][6] & [Paris-Sud 11 University][7] and Digital
    Business at [HEC Paris][8] & [Télécom ParisTech][9].

    If you want to get in touch, use [email][10], [GitHub][11], [Twitter][12],
    or [LinkedIn][13].

    Built with [Nanoc][14], published with [rsync][15], written using [Vim][16].

    [1]: http://nukomeet.com
    [2]: http://nukomeet.com/2012/03/can_we_hack_the_company_model/
    [3]: http://coworfing.com
    [4]: http://slicecook.com
    [5]: http://rupy.eu
    [6]: http://amu.edu.pl
    [7]: http://en.wikipedia.org/wiki/University_of_Paris-Sud
    [8]: http://en.wikipedia.org/wiki/HEC_Paris
    [9]: http://en.wikipedia.org/wiki/T%C3%A9l%C3%A9com_ParisTech
    [10]: mailto:oh@zaiste.net
    [11]: http://github.com/zaiste
    [12]: http://twitter.com/zaiste
    [13]: http://linkedin.com/in/zaiste
    [14]: http://nanoc.stoneship.org/
    [15]: http://rsync.samba.org/
    [16]: http://vim.org
