#realm
  h1 Zaiste, a software technologist.
  p.lead I help companies & brands build great software products.

  markdown:

    I'm a programmer, a technology consultant and [Nukomeet][1] co-founder.

    If you want to get in touch, use [email][10].

    [1]: http://nukomeet.com
    [10]: mailto:oh@zaiste.net

