.art
  %h1
    = @item[:title]

  ~ yield

  %section.meta
    :markdown
      ## Let's talk
      I'm Zaiste! I help companies & brands kick ass in the digital realm by providing them with cutting-edge technology solutions. I work at [Nukomeet](http://nukomeet.com), read our [Company Manifesto](http://nukomeet.com/2012/03/can_we_hack_the_company_model/).

      Feedback on this post is welcome, but [Comments [are] Off](http://mattgemmell.com/2011/11/29/comments-off/), feel free to reach me on [Twitter](http://twitter.com/zaiste) instead.
