.art
  %h2
    = @item[:title]
    .at &nbsp;

  = yield

  %section.meta
    :markdown
      ## Let's talk

      I'm a coder at [Nukomeet](http://nukomeet.com), a company ran by self-managed developers using cutting edge technologies to build top-notch applications - for clients or for fun. Take a look at our [Manifesto](http://nukomeet.com/blog/2012/can_we_hack_the_company_model/).

      Feedback on this post is welcome. 

      Feel free to reach me on [Twitter](http://twitter.com/zaiste). 
