body {
    margin: 12px;
    background-color: #F1F1F1;
    line-height: 1;
}
ol, ul {
    margin: auto;
    list-style-position:inside;
}
em { font-style: italic }
a {
    color: #E6324B;
    text-decoration: none;
    padding: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
a:hover {
    background-color: #FCFCFC;
    border-bottom: 1px solid #787878;
    text-decoration: none;
}
p strong {
    font-size: 0.9em;
    text-transform: uppercase;
}
.content {
    margin-left: 0;
    clear: left;
    margin-left: 18px;
    display: block;
    float: left;
    width: 738px;
}
label .content { margin-left: 0 }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child { margin-top: 0 }
h1 {
    font-family: HelveticaNeue,Helvetica,Arial;
    font-weight: bold;
}
h1.lambda { color: #CCCC99 }
h1.title { color: #7890F0 }
h1.projects { color: #FC9D9A }
.art h1 {
    color: #474747; 
    margin-bottom: 12px;
}
h2 {
    color: #4D4D49;
    font-family: 'Varela', "Lucida Grande", Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 24px;
    border-top: 1px solid #6A6A6A;
}
h3 {
    margin-top: 24px;
    margin-bottom: 6px;
}
h4 {
    color: #4D4D49;
    font-family: 'Varela', "Lucida Grande", Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
h4 small {
    color: #8D8D89;
    font-family: 'Varela', "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 24px;
    font-size: 14px;
}
#affairz { margin-top: 32px }
#affairz .image {
    width: 100%;
    height: 100px;
    margin-bottom: 8px;
    padding: 0;
}
#affairz .image.empty { border: 1px dashed #CECECE }
#affairz p { font-size: 0.9em }

ul#affairz {
    list-style: none;
}
#affairz li {
    margin-bottom: 32px;
    border-bottom: 1px dashed #787878;
}
#affairz .stack {
    font-size: 12px;
    padding: 0;
    margin-bottom: 8px;
    width: 340px;
}
#affairz .stack strong {
    font-size: 12px;
    margin-right: 8px;
    text-transform: uppercase;
}
#affairz .stack li { margin: 0 }
.rabbit-hole a { text-decoration: none }
ul, ol, p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #565656;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    margin-bottom: 12px;
}

ul li {
    line-height: 1.6em;
}

table {
    font-size: 0.9em;
    line-height: 1.2em;
    color: #565656;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
strong {
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1.5em;
    font-size: 1.2em;
    color: #262626;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    letter-spacing: 2px;
}
.at {
    font-size: 0.8em;
    margin-bottom: 12px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    color: #898989;
    border-bottom: 1px solid #686868;
}
#me {
    line-height: 1.7em;
    margin-top: 12px;
    font-size: 2em;
}
.gist .gist-file { margin-bottom: 0 !important }
.gist .gist-meta { display: none }
.gist .gist-highlight { border-left: 10px solid #545454 }
.gist pre {
    font-size: 1em;
    font-family: 'Monaco', Courier, monotype;
}
#realm {
}
#realm h1 {
    margin-bottom: 36px;
    display: block;
}
#realm em {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 10px;
    font-style: italic;
}
#flux ul {
    list-style: none;
}

#flux h2 {
    margin-bottom: 0; 
}
#flux a {
    text-decoration: none;
    color: #4D4D49;
}
#flux a:hover { background-color: #E1E1E1 }


#header {
    position: fixed;
    right: 15px;
    top: 50px;
    width: 150px;
    font-family: Helvetica, sans-serif;
    margin: 15px -10px 0 0;
    text-align: right;
}
#header #nav {
    list-style: none;
}
#header #nav li { 
    margin-bottom: 16px 
}
#header #nav li a {
    padding: 4px;
    padding-top: 5px;
    background-color: #292929;
    color: #EFEFEF;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    line-height: 1em;
}
.meta em { font-style: italic }
.meta h2 {
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 24px;
}
code {
    font-size: 1em;
    font-family: 'Menlo', Courier, monotype;
    padding:2px 4px;
    color:#373737;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
    overflow: hidden;
}

pre{
    display:block;
    font-family: 'Menlo', Courier, monotype;
    padding:12px;
    margin:0 0 9px;
    font-size:1em;
    line-height:18px;
    background: none repeat scroll 0% 0% rgb(39, 40, 34);
    /* background-color:#f5f5f5; */
    border:1px solid #ccc;
}
pre code{
    padding:0;
    font-family: 'Menlo', Courier, monotype;
    font-size: 14px;
    color:#EFEFEF;
    background-color:transparent;
    border:0;
}¬

.art h2 {
  margin-top: 24px;
}
